{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SIGPA</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'SIGPA/Plantilla/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'SIGPA/Plantilla/css/css.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'SIGPA/Plantilla/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'SIGPA/css/globales.css'%}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'SIGPA/Plantilla/img/favicon.ico' %}">
    {% block styles %}
    {% endblock %}
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
            {% include 'SIGPA/_base_templates/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    {% include 'SIGPA/_base_templates/topbar.html' %}
                </nav>
                <!-- End of Topbar -->
            </div>
            <!-- End of Main Content -->
            <!-- Begin Page Content -->
            <!-- Notificaciones Toast -->
                {% include 'SIGPA/_base_templates/notificaciones_toast.html' %}
            <!-- End of Footer -->
            <div class="container-fluid">
                {% block main %}

                {% endblock %}
                <div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true"></div>
            </div>
            <!-- End Page Content -->

            <!-- Footer -->
                {% include 'SIGPA/_base_templates/footer.html' %}
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Scroll to Top Button-->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'SIGPA/Plantilla/vendor/jquery/jquery.js'%}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/vendor/bootstrap/js/bootstrap.bundle.js'%}" type="text/javascript"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'SIGPA/Plantilla/vendor/jquery-easing/jquery.easing.js'%}" type="text/javascript"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'SIGPA/Plantilla/js/sb-admin-2.min.js'%}" type="text/javascript"></script>
    <!-- Page level plugins -->
    <script src="{% static 'SIGPA/Plantilla/vendor/chart.js/Chart.js'%}" type="text/javascript"></script>
    {% if messages %}
        <script>
            $(document).ready(function (){
                $(".toast").toast("show");
            });
        </script>
    {% endif %}

    {% block scripts %}
    {% endblock %}
</body>
</html>