<footer class="sticky-footer bg-white" style="position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; SIGPA v1.0 - Fundación El Alcaraván 2021</span>
        </div>
    </div>
</footer>