{% if messages %}
    {% for message in messages %}
        <div class="toast" id="toastBasic" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"
             style="position: absolute; top: 80px; right: 1%;" {% if message.tags == 'error' %}data-autohide="false"{% endif %}>
            <div class="toast-header bg- text-white
                    {% if message.tags == 'success' %}
                        bg-primary
                    {% elif message.tags == 'warning' %}
                        bg-warning
                    {% elif message.tags == 'error' %}
                        bg-danger
                    {% endif %}">
                <i data-feather="alert-circle"></i>
                <strong class="mr-auto">
                    {% if message.tags == 'success' %}
                        Trabajo Exitoso!
                    {% elif message.tags == 'warning' %}
                        Advertencia!
                    {% elif message.tags == 'error' %}
                        Error!
                    {% endif %}
                </strong>
                <small class="text-white-50 ml-2 pr-1">Hace 1 segundo</small>
                <a class="fas fa-times-circle text-decoration-none" style="color: #ffffff" href="javascript:$('.toast').toast('hide');" title="Cerrar"></a>
            </div>
            <div class="toast-body">{{ message }}</div>
        </div>
    {% endfor %}
{% endif %}

