{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center" href="/">
        <div class="sidebar-brand-icon">
            <img class="img-profile rounded-circle w-50"
                src="{% static 'SIGPA/Plantilla/img/logo.jpg'%}">
        </div>
        <div class="sidebar-brand-text mx-3">SIGPA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            <span>Inicio</span></a>
    </li>
    <li class="nav-item {% if menu_actual.0 == 'ADM' %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseParametrizacion"
            aria-expanded="true" aria-controls="collapseParametrizacion">
            <i class="fas fa-fw fa-cog"></i>
            <span>Administración</span>
        </a>
        <div id="collapseParametrizacion" class="collapse {% if menu_actual.0 == 'ADM' %}show{% endif %}" aria-labelledby="headingParametrizacion" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Parametrización:</h6>
                <a class="collapse-item {% if menu_actual.1 == 'BENEFICIARIOS' %}active{% endif %}" href="{% url 'Administracion:beneficiarios-index' %}">Beneficiarios</a>
                <a class="collapse-item {% if menu_actual.1 == 'VEREDAS' %}active{% endif %}" href="{% url 'Administracion:veredas-index' %}">Veredas</a>
            </div>
        </div>
    </li>
    <li class="nav-item {% if menu_actual.0 == 'GP' %}active{% endif %}">
        <a class="nav-link {% if menu_actual.0 != 'GP' %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseGP"
            aria-expanded="true" aria-controls="collapseGP">
            <i class="fab fa-atlassian"></i>
            <span>Gestión de Proyectos</span>
        </a>
        <div id="collapseGP" class="collapse {% if menu_actual.0 == 'GP' %}show{% endif %}" aria-labelledby="headingGP" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Avances:</h6>
                <a class="collapse-item {% if menu_actual.1 == 'ENTREGAS' %}active{% endif %}" href="{% url 'Proyectos:entregas-index' %}">Entregas</a>
                <a class="collapse-item {% if menu_actual.1 == 'FACTURACION' %}active{% endif %}" href="{% url 'Proyectos:facturacion-index' %}">Facturación</a>
                <a class="collapse-item {% if menu_actual.1 == 'NOVEDADES' %}active{% endif %}" href="{% url 'Proyectos:novedades-index' %}">Novedades</a>
            </div>
        </div>
    </li>
    <li class="nav-item {% if menu_actual == 'PROYECTOS' %}active{% endif %}">
        <a class="nav-link" href="{% url 'Proyectos:index' %}">
            <i class="fab fa-atlassian"></i>
            <span>Proyectos</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>