{% extends 'SIGPA/_base_templates/base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'SIGPA/Plantilla/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<h1 class="h3 mb-2 text-gray-800">Crear Proyectos</h1>
                <p class="mb-4">Formulario para la creación de proyectos.</p>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <a class="fas fa-2x fa-arrow-circle-left text-decoration-none" id="volver" href="{% url 'Proyectos:index' %}" title="Volver"></a>
        </div>
        <div class="card-body">
            {% if origen == 'CREAR' %}
                <form action="{% url 'Proyectos:crear' %}" id="frm-proyecto" method="post" enctype="multipart/form-data">
            {% else %}
                <form action="{% url 'Proyectos:editar' proyecto.id %}" id="frm-proyecto" method="post" enctype="multipart/form-data">
            {% endif %}
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="nombre_proyecto_id" id="label_nombre_proyecto_id">Nombre del Proyecto</label>
                        <input type="text" class="form-control form-control-md" id="nombre_proyecto_id" name="nombre_proyecto"
                            placeholder="Ingrese un nombre" value="{{ proyecto.nombre }}" maxlength="100" required>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="director_proyecto_id" id="label_director_proyecto_id">Director del Proyecto</label>
                        <input type="text" class="form-control form-control-md" id="director_proyecto_id" name="director_proyecto"
                            placeholder="Director del proyecto" value="{{ proyecto.director }}" maxlength="100" required>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="valor_proyecto_id" id="label_valor_proyecto_id">Valor del Proyecto</label>
                        <input type="number" class="form-control form-control-md" id="valor_proyecto_id" name="valor_proyecto"
                            placeholder="Valor del proyecto" value="{{ proyecto.valor }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="fecha_constitucion_id" id="label_fecha_constitucion_id">Fecha de Constitución</label>
                        <input type="date" class="form-control form-control-md" id="fecha_constitucion_id" name="fecha_constitucion"
                            placeholder="Seleccione una Fecha" value="{{ proyecto.fecha_constitucion|date:'Y-m-d' }}" required>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="fecha_inicio_id" id="label_fecha_inicio_id">Fecha de Inicio</label>
                        <input type="date" class="form-control form-control-md" id="fecha_inicio_id" name="fecha_inicio"
                            placeholder="Fecha de Inicio" value="{{ proyecto.fecha_inicio|date:'Y-m-d' }}" required>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="fecha_finalizacion_id" id="label_fecha_finalizacion_id">Fecha de Finalización</label>
                        <input type="date" class="form-control form-control-md" id="fecha_finalizacion_id" name="fecha_finalizacion"
                            placeholder="Seleccione una Fecha" value="{{ proyecto.fecha_final|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 mb-6 mb-sm-0">
                        <label for="descripcion_proyecto_id" id="label_descripcion_proyecto_id">Descripción del Proyecto</label>
                        <textarea class="form-control form-control-md" id="descripcion_proyecto_id" name="descripcion_proyecto"
                                  placeholder="Ingrese una descripción" required>{{ proyecto.descripcion }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 mb-6 mb-sm-0">
                        <label for="criterio_exito_proyecto_id" id="label_criterio_exito_proyecto_id">Criterios de Éxito del Proyecto</label>
                        <textarea class="form-control form-control-md" id="criterio_exito_proyecto_id" name="criterio_exito_proyecto"
                                  placeholder="Ingrese los criterios de éxito" required>{{ proyecto.criterios_exito }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_linea_proyecto_id" id="label_linea_proyecto_id">Linea de Proyecto</label>
                        <select class=" form-control form-control-md select2" id="select_linea_proyecto_id" name="linea_proyecto[]" multiple="multiple" required>
                            <option value="">Seleccione una opción</option>
                            {% for linea in lineas %}
                                <option value="{{ linea.id }}">{{ linea.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_fuente_financiacion_id" id="label_fuente_financiacion_proyecto_id">Fuente de Financiación</label>
                        <select class="form-control form-control-md select2" id="select_fuente_financiacion_id" name="fuente_financiacion" required>
                            <option value="">Seleccione una opción</option>
                            {% for fin in financiacion %}
                                <option value="{{ fin.id }}" {% if fin == proyecto.fuente_recursos %} selected {% endif %}>{{ fin.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="codigo_proyecto_id" id="label_codigo_proyecto_id">Código del Proyecto</label>
                        <input type="text" class="form-control form-control-md" id="codigo_proyecto_id" name="codigo_proyecto"
                            placeholder="Código del proyecto" value="{{ proyecto.codigo_proyecto }}" maxlength="20" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_proceso_proyecto_id" id="label_proceso_proyecto_id">Proceso</label>
                        <select class="form-control form-control-md select2" id="select_proceso_proyecto_id" name="proceso_proyecto" required>
                            <option value="">Seleccione una opción</option>
                            {% for pro in procesos %}
                                <option value="{{ pro.id }}" {% if pro == proyecto.proceso %} selected {% endif %}>{{ pro.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="numero_entregas_proyecto_id" id="label_numero_entregas_proyecto_id">Número de Entregas</label>
                        <input type="number" class="form-control form-control-md" id="numero_entregas_proyecto_id" name="numero_entregas_proyecto"
                            placeholder="Ingrese el número de entregas" value="{{ proyecto.n_entregas }}" required>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_centro_costos_proyecto_id" id="label_centro_costos_id">Centro de Costos</label>
                        <select class="form-control form-control-lg select2" id="select_centro_costos_id" name="centro_costos" required>
                            <option value="">Seleccione una opción</option>
                            {% for cc in centro_costos %}
                                <option value="{{ cc.id }}" {% if cc == proyecto.centro_costos %} selected {% endif %}>{{ cc.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_licencia_id" id="label_licencia_proyecto_id">Licencias</label>
                        <select class="form-control form-control-md select2" id="select_licencia_id" name="licencia_proyecto[]" multiple="multiple" required>
                            <option value="">Seleccione una opción</option>
                            {% for lic in licencias %}
                                <option value="{{ lic.id }}">{{ lic.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_vereda_id" id="label_vereda_proyecto_id">Veredas</label>
                        <select class="form-control form-control-md select2" id="select_vereda_id" name="vereda_proyecto[]" multiple="multiple" required>
                            <option value="">Seleccione una opción</option>
                            {% for ver in veredas %}
                                <option value="{{ ver.id }}">{{ ver.vereda }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2 mb-sm-0">
                        <label for="select_beneficiario_id" id="label_beneficiario_proyecto_id">Beneficiarios</label>
                        <select class="form-control form-control-md select2" id="select_beneficiario_id" name="beneficiario_proyecto[]" multiple="multiple" required>
                            <option value="">Seleccione una opción</option>
                            {% for benef in beneficiarios %}
                                <option value="{{ benef.id }}">{{ benef.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="contenedor-con-borde" style="padding-bottom: 10px">
                    <h4>Coordenadas</h4>
                    <div class="form-group row">
                        <div class="col-sm-4 mb-2 mb-sm-0">
                            <label for="longitud_proyecto_id" id="label_longitud_proyecto_id">Longitud</label>
                            <input type="text" class="form-control form-control-md" id="longitud_proyecto_id" name="longitud_proyecto"
                                placeholder="Ingrese la longitud" value="{{ proyecto.longitud }}" maxlength="100" required>
                        </div>
                        <div class="col-sm-4 mb-2 mb-sm-0">
                            <label for="latitud_proyecto_id" id="label_latitud_proyecto_id">Latitud</label>
                            <input type="text" class="form-control form-control-md" id="latitud_proyecto_id" name="latitud_proyecto"
                                placeholder="Ingrese la latitud" value="{{ proyecto.latitud }}" maxlength="100" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    {% if origen == 'CREAR' %}Crear Proyecto{% else %}Guardar Proyecto{% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'SIGPA/Plantilla/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/modificacionesSelect2.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/selectDependiente.js' %}" type="text/javascript"></script>
    <script>
        'use strict';

        let select_licencia = $('#select_licencia_id');
        let select_vereda = $('#select_vereda_id');
        let select_beneficiario = $('#select_beneficiario_id');

        $(document).ready(function () {
            select_licencia.change(function() {
                cargarDatosSelect($('#select_licencia_id'), $('#select_vereda_id'),
                    "{% url 'administracion:obtener-veredas-de-licencias' %}",$('#select_beneficiario_id'));
            });
            select_vereda.change(function() {
                cargarDatosSelect($('#select_vereda_id'), $('#select_beneficiario_id'),
                    "{% url 'administracion:obtener-beneficiarios-de-veredas' %}");
            });
        });
        {% if val_lineas_inversion %}
            $('#select_linea_proyecto_id').val({{ val_lineas_inversion }}).trigger("change");
        {% endif %}
        {% if val_licencias %}
            select_licencia.val({{ val_licencias }}).trigger("change");
        {% endif %}
        {% if val_veredas %}
            select_vereda.val({{ val_veredas }}).trigger("change");
        {% endif %}
        {% if val_beneficiarios %}
            select_beneficiario.val({{ val_beneficiarios }}).trigger("change");
        {% endif %}
    </script>
{% endblock %}