{% extends 'SIGPA/_base_templates/base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    <link href="{% static 'SIGPA/DataTable/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'SIGPA/DataTable/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
 <h1 class="h3 mb-2 text-gray-800">Proyectos</h1>
                <p class="mb-4">Relacion de los proyectos ejecutados por la Fundación el Alcaraván</p>
    <div class="card shadow mb-5">
    <div class="card-header py-3">
        <a class="fas fa-2x fa-plus-circle text-decoration-none" id="crear" href="{% url 'Proyectos:crear' %}" title="Crear"></a>
    </div>
        <div class="card-body">
            <table class="table table-bordered display nowrap w-100" id="dataTable">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Director</th>
                        <th>Descripción</th>
                        <th>Constitución</th>
                        <th>Valor</th>
                        <th>Inicia</th>
                        <th>Finaliza</th>
                        <th>Creado</th>
                        <th>Estado</th>
                        <th>Fuente de Recursos</th>
                        <th>#. Entregas</th>
                        <th>Centro de Costos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in proyectos %}
                    <tr>
                        <th>{{ pro.codigo_proyecto }}</th>
                        <th>{{ pro.nombre }}</th>
                        <th>{{ pro.director }}</th>
                        <th>{{ pro.descripcion }}</th>
                        <th>{{ pro.fecha_constitucion|date:'d-m-Y' }}</th>
                        <th>$ {{ pro.valor|intcomma:False }}</th>
                        <th>{{ pro.fecha_inicio|date:'d-m-Y' }}</th>
                        <th>{{ pro.fecha_final|date:'d-m-Y' }}</th>
                        <th>{{ pro.fecha_crea|date:'d-m-Y' }}</th>
                        <th>{{ pro.estado }}</th>
                        <th>{{ pro.fuente_recursos }}</th>
                        <th>{{ pro.n_entregas }}</th>
                        <th>{{ pro.centro_costos }}</th>
                        <th class="text-align-center">
                            <a class="fas fa-edit text-decoration-none" id="editar" href="{% url 'Proyectos:editar' pro.id %}" title="Editar"></a>
                            <a class="fas fa-clipboard-check text-decoration-none" id="entrega" href="javascript:gestionarModal('{% url 'proyectos:entregas-crear' pro.id %}', 'modal-entrega')" title="Agregar Entrega"></a>
                            <a class="fas fa-file-invoice-dollar text-decoration-none" id="facturacion" href="javascript:gestionarModal('{% url 'proyectos:facturacion-crear' pro.id %}', 'modal-facturacion')" title="Agregar Facturación"></a>
                            <a class="fas fa-newspaper text-decoration-none" id="novedad" href="javascript:gestionarModal('{% url 'proyectos:novedades-crear' pro.id %}', 'modal-novedad')" title="Agregar Novedad"></a>
                            <a class="fas fa-chart-line text-decoration-none" id="grafico" href="javascript:gestionarModal('{% url 'proyectos:graficos-index' pro.id %}', 'modal-grafico')" title="Estadisticas"></a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modal-entrega" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="modal fade" id="modal-facturacion" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="modal fade" id="modal-novedad" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="modal fade" id="modal-grafico" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'SIGPA/DataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/modificacionesDataTable.js' %}"></script>
    <script src="{% static 'Administracion/gestionModal.js' %}"></script>
    <script>
        let tabla = $('#dataTable');
        tabla.dataTable({
            responsive: true,
            lengthChange: false,
            bPaginate: true,
            aaSorting: [[0, 'asc']],

            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 1 },
                { responsivePriority: 2, targets: 2 },
                { responsivePriority: 3, targets: 5 },
                { responsivePriority: 4, targets: 6 },
                { responsivePriority: 5, targets: 7 },
                { responsivePriority: 6, targets: 10 },
                { responsivePriority: 1, targets: 13 },
            ],
            language: idiomaTabla
        });
        tabla.find("input").attr("placeholder", "Buscar");
    </script>
{% endblock %}
