{% if origen == 'CREAR' %}
    <form action="{% url 'administracion:beneficiarios-crear' %}" id="frm-beneficiario" method="post" enctype="multipart/form-data">
{% else %}
    <form action="{% url 'administracion:beneficiarios-editar' beneficiario.id %}" id="frm-beneficiario" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% if origen == 'CREAR' %}Crear Beneficiario{% else %}Modificar Beneficiario{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 mb-12">
                        <label for="nombre_id" id="label_nombre_id">Nombre</label>
                        <input type="text" class="form-control form-control-md" id="nombre_id" name="nombre"
                               placeholder="Nombre" maxlength="100" value="{{ beneficiario.nombre }}" required>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-6">
                        <label for="select_municipio_id" id="label_municipio_id">Municipio</label>
                        <select class="form-control form-control-md select2" id="select_municipio_id" name="municipio" required>
                            <option value="">Seleccione una opción</option>
                            {% for mun in municipios %}
                                <option value="{{ mun.id }}" {% if beneficiario.vereda_licencia.vereda.municipio == mun %} selected {% endif %}>{{ mun.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-6">
                        <label for="select_vereda_id" id="label_vereda_id">Vereda (Licencia)</label>
                        <select class="form-control form-control-md select2" id="select_vereda_id" name="vereda" required>
                            <option value="">Seleccione una opción</option>
                            {% for ver in veredas %}
                                <option value="{{ ver.id }}" {% if beneficiario.vereda_licencia_id == ver.id %} selected {% endif %}>{{ ver.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6 mb-6">
                        <label for="select_tipo_beneficiario_id" id="label_tipo_beneficiario_id">Tipo de Beneficiario</label>
                        <select class="form-control form-control-md select2" id="tipo_beneficiario_id" name="tipo_beneficiario" required>
                            <option value="">Seleccione una opción</option>
                            {% for tb in tipos_beneficiarios %}
                                <option value="{{ tb.id }}" {% if beneficiario.tipo_beneficiario == tb %} selected {% endif %}>{{ tb.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-6">
                        <label for="numero_personas_id" id="label_numero_personas_id"># Personas</label>
                        <input type="number" class="form-control form-control-md" id="numero_personas_id" name="numero_personas"
                               placeholder="Número de Personas" maxlength="100" value="{{ beneficiario.numero_personas }}" required>
                    </div>
                    {% if origen == 'EDITAR' %}
                    <div class="col-xs-12 col-sm-12 mb-12 pt-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="form-control form-control-md custom-control-input non-selectable" {% if beneficiario.estado %} checked {% endif %} id="customSwitches" name="estado">
                          <label class="custom-control-label" for="customSwitches">Estado</label>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    {% if origen == 'CREAR' %}Crear{% else %}Guardar{% endif %}
                </button>
            </div>
        </div>
    </div>
</form>
<script>
        $(document).ready(function () {
            $('#select_municipio_id').change(function() {
                cargarDatosSelect($('#select_municipio_id'), $('#select_vereda_id'),
                    "{% url 'administracion:obtener-veredas-municipios' %}");
            });
        });
</script>