{% extends 'SIGPA/_base_templates/base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    <link href="{% static 'SIGPA/DataTable/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'SIGPA/DataTable/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
 <h1 class="h3 mb-2 text-gray-800">Beneficiarios</h1>
                <p class="mb-4">Relacion de los beneficiarios de los proyectos de la Fundación</p>
    <div class="card shadow mb-5">
    <div class="card-header py-3">
        <a class="fas fa-2x fa-plus-circle text-decoration-none" id="crear" href="javascript:gestionarModal('{% url 'administracion:beneficiarios-crear' %}', 'modal-beneficiario')" title="Crear"></a>
    </div>
        <div class="card-body">
            <table class="table table-bordered display nowrap w-100" id="dataTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Número de Personas</th>
                        <th>Tipo de Beneficiario</th>
                        <th>Vereda</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ben in beneficiarios %}
                    <tr>
                        <th>{{ ben.nombre }}</th>
                        <th>{{ ben.numero_personas }}</th>
                        <th>{{ ben.tipo_beneficiario }}</th>
                        <th>{{ ben.vereda_licencia }}</th>
                        <th>{% if ben.estado %}
                                <i class="fas fa-2x fa-check-circle"></i>
                            {% else %}
                                <i class="fas fa-2x fa-times-circle"></i>
                            {% endif %}
                        </th>
                        <th class="text-align-center">
                            <a class="fas fa-2x fa-edit text-decoration-none" id="editar" href="javascript:gestionarModal('{% url 'administracion:beneficiarios-editar' ben.id %}', 'modal-beneficiario')" title="Editar"></a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modal-beneficiario" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'SIGPA/DataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/modificacionesDataTable.js' %}"></script>
    <script src="{% static 'Administracion/gestionModal.js' %}"></script>
    <script src="{% static 'SIGPA/Plantilla/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/modificacionesSelect2.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/selectDependiente.js' %}" type="text/javascript"></script>
    <script>
        let tabla = $('#dataTable');
        tabla.dataTable({
            responsive: true,
            lengthChange: false,
            bPaginate: true,
            aaSorting: [[0, 'asc']],

            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: 5 },
            ],
            language: idiomaTabla
        });
        tabla.find("input").attr("placeholder", "Buscar");
    </script>
{% endblock %}
