.contenedor-con-borde{
    border-color: #d1d3e2;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.text-align-center{
    text-align: center;
}