{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SIGPA - Iniciar Sesión</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'SIGPA/Plantilla/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'SIGPA/Plantilla/css/css.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'SIGPA/Plantilla/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'SIGPA/Plantilla/img/favicon.ico' %}">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block"
                                 style="background: url({% static 'SIGPA/Plantilla/img/portada.jpg' %});
                                    background-position: center; background-size: cover;">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido a SIGPA!</h1>
                                    </div>
                                    <form action="{% url 'Administracion:inicio-sesion' %}" id="frm_inicio_sesion" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="username" name="username" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Iniciar Sesión
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="text-center">
                                        <b class="small">Una aplicación desarrollada por: <br>
                                            <a href="#">Fundación El Alcaraván</a>
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'SIGPA/Plantilla/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'SIGPA/Plantilla/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'SIGPA/Plantilla/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'SIGPA/Plantilla/js/sb-admin-2.min.js' %}"></script>
</body>
</html>