{% load static %}
<link href="{% static 'SIGPA/Plantilla/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
<form action="{% url 'proyectos:novedades-crear' proyecto.id %}" id="frm-entrega" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Novedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 mb-12">
                        <label for="select_tipo_novedad_id" id="label_tipo_novedad_id">Tipo de Novedad</label>
                        <select class="form-control form-control-md select2" id="select_tipo_novedad_id" name="tipo_novedad" required>
                            <option value="">Seleccione una opción</option>
                            {% for tn in tipos_novedades %}
                                <option value="{{ tn.id }}">{{ tn.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 mb-12">
                        <label for="select_beneficiario_id" id="label_beneficiario_id">Beneficiarios</label>
                        <select class="form-control form-control-md select2" id="select_beneficiario_id" name="beneficiario[]" multiple="multiple" required>
                            <option value="">Seleccione una opción</option>
                            {% for ben in beneficiarios %}
                                <option value="{{ ben.beneficiario_id }}">{{ ben.beneficiario.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 mb-12">
                        <label for="select_porcentaje_id" id="label_porcentaje_id">Porcentaje de Avance</label>
                        <select class="form-control form-control-md select2" id="select_porcentaje_id" name="porcentaje" required>
                            <option value="">Seleccione una opción</option>
                            {% for por in porcentajes %}
                                <option value="{{ por.id }}">{{ por.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="fecha_novedad_id" id="label_fecha_novedad_id">Fecha de la Novedad</label>
                        <input type="date" class="form-control form-control-md" id="fecha_novedad_id" name="fecha_novedad"
                            placeholder="Seleccione una Fecha" required>
                    </div>
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="descripcion_proyecto_id" id="label_descripcion_proyecto_id">Descripción del Entregable</label>
                        <textarea class="form-control form-control-md" id="descripcion_proyecto_id" name="descripcion"
                                  placeholder="Ingrese una descripción" required></textarea>
                    </div>
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="responsable_id" id="label_responsable_id">Responsable</label>
                        <input type="text" class="form-control form-control-md" id="responsable_id" name="responsable"
                            placeholder="Ingrese el nombre del responsable" maxlength="100" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'SIGPA/Plantilla/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'SIGPA/Plantilla/custom/modificacionesSelect2.js' %}" type="text/javascript"></script>
<script>
    $(".select2").select2({
        dropdownParent: $('#modal-novedad'),
        placeholder: 'Seleccione una opción',
        "language": {
            noResults: function () {
              return 'No se encontraron coincidencias';
            },
            searching: function () {
              return 'Buscando…';
            },
            removeAllItems: function () {
              return 'Quitar todas los items';
            }
        },
    }).css('width', '100%').next("span").css('width', '100%');

    $(window).resize(function() {
        $('.select2').css('width', "100%");
    });
</script>