
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalle de Entrega: {{ entrega.proyecto.codigo_proyecto }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-xs-12 col-sm-12 mb-12" style="word-wrap: break-word;">
                <b>Nombre del Proyecto:</b>{{ entrega.proyecto.nombre }}<br>
                <b>Descripción de la Entrega:</b>{{ entrega.descripcion }}<br>
                <b>Fecha de la Entrega:</b>{{ entrega.fecha|date:'Y-m-d' }}<br>
                <b>Entregas:</b>{% for entrg in entregas %}{{ entrg.entregable.nombre }}{% endfor %}<br>
                <b>Beneficiario:</b>{% for ben in beneficiarios %}{{ ben.beneficiario.nombre }}{% endfor %}<br>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>