{% if origen == 'CREAR' %}
    <form action="{% url 'administracion:veredas-crear' %}" id="frm-vereda" method="post" enctype="multipart/form-data">
{% else %}
    <form action="{% url 'administracion:veredas-editar' vereda_licencia.id %}" id="frm-vereda" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% if origen == 'CREAR' %}Crear Vereda{% else %}Modificar Vereda{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6 mb-6">
                        <label for="select_licencia_id" id="label_beneficiario_id">Licencia</label>
                        <select class="form-control form-control-md select2" id="select_licencia_id" name="licencia" required>
                            <option value="">Seleccione una opción</option>
                            {% for lic in licencias %}
                                <option value="{{ lic.id }}" {% if vereda_licencia.licencia == lic %} selected {% endif %}>{{ lic.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-12">
                        <label for="select_municipio_id" id="label_municipio_id">Municipio</label>
                        <select class="form-control form-control-md select2" id="select_municipio_id" name="municipio" required>
                            <option value="">Seleccione una opción</option>
                            {% for mun in municipios %}
                                <option value="{{ mun.id }}" {% if vereda_licencia.vereda.municipio == mun %} selected {% endif %}>{{ mun.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 mb-12">
                        <label for="nombre_id" id="label_nombre_id">Nombre de la Vereda</label>
                        <input type="text" class="form-control form-control-md" id="nombre_id" name="nombre"
                               placeholder="Nombre de la vereda" maxlength="100" value="{{ vereda_licencia.vereda.nombre }}" required>
                    </div>
                    {% if origen == 'EDITAR' %}
                    <div class="col-xs-12 col-sm-12 mb-12 pt-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="form-control form-control-md custom-control-input non-selectable" {% if vereda_licencia.vereda.estado %} checked {% endif %} id="customSwitches" name="estado">
                          <label class="custom-control-label" for="customSwitches">Estado</label>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    {% if origen == 'CREAR' %}Crear{% else %}Guardar{% endif %}
                </button>
            </div>
        </div>
    </div>
</form>