{% extends 'SIGPA/_base_templates/base.html' %}
{% load static %}
{% block main %}
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-'></i><span class='fw-300'>Sistema de Gestión de Proyectos Alcaraván</span>
        </h1>
    </div>
    <div class="container h-100" style="display: flex; justify-content: center;">
    </div>
{% endblock %}
