{% load static %}
<link href="{% static 'SIGPA/Plantilla/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
<form action="{% url 'proyectos:facturacion-crear' proyecto.id %}" id="frm-entrega" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Facturación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="valor_id" id="label_valor_id">Valor</label>
                        <input type="number" class="form-control form-control-md" id="valor_id" name="valor"
                                  placeholder="Ingrese un valor" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="fecha_facturacion_id" id="label_fecha_facturacion_id">Fecha de Facturación</label>
                        <input type="date" class="form-control form-control-md" id="fecha_facturacion_id" name="fecha_facturacion"
                            placeholder="Seleccione una Fecha" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 mb-6 mb-sm-6">
                        <label for="codigo_factura_id" id="label_codigo_factura_id">Código de la factura</label>
                        <input type="text" class="form-control form-control-md" id="codigo_factura_id" name="codigo_factura"
                                  placeholder="Ingrese el código de la factura" maxlength="20" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'SIGPA/Plantilla/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'SIGPA/Plantilla/custom/modificacionesSelect2.js' %}" type="text/javascript"></script>
<script>
    $(".select2").select2({
        dropdownParent: $('#modal-entrega'),
        placeholder: 'Seleccione una opción',
        "language": {
            noResults: function () {
              return 'No se encontraron coincidencias';
            },
            searching: function () {
              return 'Buscando…';
            },
            removeAllItems: function () {
              return 'Quitar todas los items';
            }
        },
    }).css('width', '100%').next("span").css('width', '100%');

    $(window).resize(function() {
        $('.select2').css('width', "100%");
    });
</script>