
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalle de Facturación: {{ facturacion.proyecto.codigo_proyecto }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-xs-12 col-sm-12 mb-12" style="word-wrap: break-word;">
                <b>Nombre del Proyecto:</b>{{ facturacion.proyecto.nombre }}<br>
                <b>Valor de la Factura:</b>{{ facturacion.valor }}<br>
                <b>Fecha de la Factura:</b>{{ facturacion.fecha|date:'Y-m-d' }}<br>
                <b>Fecha del Registro:</b>{{ facturacion.fecha_crea|date:'Y-m-d' }}<br>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>