{% extends 'SIGPA/_base_templates/base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    <link href="{% static 'SIGPA/DataTable/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'SIGPA/DataTable/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
 <h1 class="h3 mb-2 text-gray-800">Entregas</h1>
                <p class="mb-4">Relacion de las entregas asociadas a los proyectos de la Fundación</p>
    <div class="card shadow mb-5">
        <div class="card-body">
            <table class="table table-bordered display nowrap w-100" id="dataTable">
                <thead>
                    <tr>
                        <th>Código del Proyecto</th>
                        <th>Descripción</th>
                        <th>Responsable</th>
                        <th>Fecha</th>
                        <th>Creado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ent in entregas %}
                    <tr>
                        <th>{{ ent.proyecto.codigo_proyecto }}</th>
                        <th>{{ ent.descripcion }}</th>
                        <th>{{ ent.responsable }}</th>
                        <th>{{ ent.fecha|date:'Y-m-d' }}</th>
                        <th>{{ ent.fecha_crea|date:'Y-m-d' }}</th>
                        <th class="text-align-center">
                            <a class="fas fa-2x fa-list-alt text-decoration-none" id="editar"
                               href="javascript:gestionarModal('{% url "proyectos:entregas-detalle" ent.id %}', 'modal-detalle')" title="Detalle"></a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'SIGPA/DataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'SIGPA/DataTable/modificacionesDataTable.js' %}"></script>
    <script src="{% static 'Administracion/gestionModal.js' %}"></script>
    <script src="{% static 'SIGPA/Plantilla/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/modificacionesSelect2.js' %}" type="text/javascript"></script>
    <script src="{% static 'SIGPA/Plantilla/custom/selectDependiente.js' %}" type="text/javascript"></script>
    <script>
        let tabla = $('#dataTable');
        tabla.dataTable({
            responsive: true,
            lengthChange: false,
            bPaginate: true,
            aaSorting: [[0, 'asc']],
            language: idiomaTabla
        });
        tabla.find("input").attr("placeholder", "Buscar");
    </script>
{% endblock %}
