{% load static %}
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Código del Proyecto: {{ proyecto.codigo_proyecto }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h1 class="h3 mb-2 text-gray-800">{{ proyecto.nombre }}</h1>

                <p class="mb-4">{{ proyecto.descripcion }}</p>
            <input value="{{ datos.mensual.acta_entrega.meses }}" id="datos_meses" style="display: none">
            <input value="{{ datos.quincenal.acta_entrega.quincenas }}" id="datos_quincenas" style="display: none">
            <input value="{{ datos.semanal.acta_entrega.semanas }}" id="datos_semanas" style="display: none">

            <div class="card shadow">
                <div class="card-body" style="width: 100%; height: 100%; text-align: center">
                    <div  style="float: right; top: 0;">
                    <select class="form-control form-control-md select2" id="select_grafico_id" required>
                        <option value="semanal">Semanal</option>
                        <option value="quincenal">Quincenal</option>
                        <option value="mensual" selected>Mensual</option>
                    </select>
                </div>
                    <canvas id="myChart" width="9000" height="5000"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'SIGPA/charts/chart.min.js' %}"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse($('#datos_meses').val()),
            datasets: [
                {
                    label: 'Ejecutado',
                    data: JSON.parse("{{ datos.mensual.acta_entrega.valores }}"),
                    backgroundColor: 'rgba(212,108,6,0.81)',
                    borderColor: 'rgb(255,159,61)',
                    borderWidth: 1
                },
                {
                    label: 'Facturado',
                    data: JSON.parse("{{ datos.mensual.facturacion.valores }}"),
                    backgroundColor: 'rgb(219,31,31)',
                    borderColor: 'rgb(243,111,50)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    $('#select_grafico_id').change(function(){
        let valor = $('#select_grafico_id').val();
        if (valor === 'mensual') {
            ver_mensual();
        }else if ((valor === 'quincenal')){
            ver_quincenal();
        }else if ((valor === 'semanal')){
            ver_semanal();
        }
    });
    function ver_mensual(){
        myChart.destroy();
        myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse($('#datos_meses').val()),
            datasets: [
                {
                    label: 'Ejecutado',
                    data: JSON.parse("{{ datos.mensual.acta_entrega.valores }}"),
                    backgroundColor: 'rgba(212,108,6,0.81)',
                    borderColor: 'rgb(255,159,61)',
                    borderWidth: 1
                },
                {
                    label: 'Facturado',
                    data: JSON.parse("{{ datos.mensual.facturacion.valores }}"),
                    backgroundColor: 'rgb(219,31,31)',
                    borderColor: 'rgb(243,111,50)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    }
    function ver_quincenal(){
        myChart.destroy();
        myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse($('#datos_quincenas').val()),
            datasets: [
                {
                    label: 'Ejecutado',
                    data: JSON.parse("{{ datos.quincenal.acta_entrega.valores }}"),
                    backgroundColor: 'rgba(212,108,6,0.81)',
                    borderColor: 'rgb(255,159,61)',
                    borderWidth: 1
                },
                {
                    label: 'Facturado',
                    data: JSON.parse("{{ datos.quincenal.facturacion.valores }}"),
                    backgroundColor: 'rgb(219,31,31)',
                    borderColor: 'rgb(243,111,50)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    }
    function ver_semanal(){
        myChart.destroy();
        myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse($('#datos_semanas').val()),
            datasets: [
                {
                    label: 'Ejecutado',
                    data: JSON.parse("{{ datos.semanal.acta_entrega.valores }}"),
                    backgroundColor: 'rgba(212,108,6,0.81)',
                    borderColor: 'rgb(255,159,61)',
                    borderWidth: 1
                },
                {
                    label: 'Facturado',
                    data: JSON.parse("{{ datos.semanal.facturacion.valores }}"),
                    backgroundColor: 'rgb(219,31,31)',
                    borderColor: 'rgb(243,111,50)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    }
</script>